.paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.combobox {
  display: flex;
  align-items: center;
}
.combobox__select {
  margin: -18px 5px 0;
  width: 70px;
}

.border-around-num {
  border: 1px solid rgb(48, 118, 204); 
  border-radius: 3px; 
  padding: 2px 4px;
}